.calculator
{
    height:600px;
    width: 500px;
    background-color: red;
    border-radius: 20px;
}

.container
{
    display: flex;
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
  

}
.display
{
    
    display: flex;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.display input
{
    position: relative;
    height: 70px;
    width:450px;
    border-radius: 25px;
}

.numbers
{
    display: flex;
    margin-bottom: 50px;
    position: relative;
    height: 400px;
    width: 400px;
    padding-left: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons
{
    height: 80px;
    width: 80px;
    margin: 10px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-shadow: 10px 5px 3px black;
    align-items: center;
    border-radius: 25px;
}

.buttons:active
{
    transform: translateX(10px);
    box-shadow: 0 0 0 black;
}
